@font-face {
   font-family: "C C Red Alert Inet";
   src: url("./Assets/Fonts/c_c_red_alert_inet/C&C Red Alert [LAN].ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: "C C Red Alert Inet", sans-serif;
   src: url("./Assets/Fonts/c_c_red_alert_inet/C&C Red Alert [LAN].ttf") format("truetype");
}

body {
   background-size: cover;
   background-repeat: no-repeat;
   background-color: antiquewhite;
}

/* NavBar styling starts here */
li {
   list-style: none;
   cursor: pointer;
   position: relative;
}

.icon {
   cursor: pointer;
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background-color: #1eb9c8;
   z-index: 1000;
}

.content {
   margin-top: 100px;
}

.logo {
   color: #453585;
   font-size: 30px;
   font-weight: bold;
}

.logoDiv {
   flex: 0.75;
}

.logo:hover {
   color: #6551b5;
}

.searchDiv {
   flex: 2;
   margin: 1rem;
}

.searchDiv form {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 100%;
}

.searchDiv input {
   padding: 0.5rem;
   font-size: 1rem;
   border: transparent;
   border-radius: 4px;
   outline: none;
   transition: border 0.3s linear;
   width: 50%;
   border: 1px solid #080808;
}

.searchDiv input:hover,
.searchDiv input:focus {
   border: 1px solid #453585;
}

.searchDiv button {
   padding: 0.5rem 1rem;
   font-size: 1rem;
   color: #fff;
   background-color: #61dae5;
   border: transparent;
   border-radius: 4px;
   cursor: pointer;
   transition: all 0.3s linear;
}

.searchDiv button:hover {
   background-color: #6551b5;
   border: 1px solid #453585;
}

.menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 100px;
   flex: 0.75;
}

.menu-item {
   color: black;
   font-size: 20px;
   font-weight: bold;
}

.menu-item:hover {
   color: #6551b5;
}

/* Leaderboard styling starts here */
.leaderboard {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow-y: auto;
}

table {
   border-collapse: collapse;
   width: 75%;
   margin: 0 auto;
   background: #dcdcdc;
}

.tableHeader {
   position: sticky;
   top: 78px;
   background-color: #1eb9c8;
   z-index: 100;
}

th,
td {
   text-align: left;
   padding: 8px;
   border: 1px solid #ffffff;
}

th {
   background-color: #1eb9c8;
   color: white;
}

.text-center {
   text-align: center;
   font-weight: bold;
   font-size: 35px;
   margin-bottom: 15px;
}

.leaderBoard_cell {
   font-size: 11px;
}

/* Burn styling starts here */
.burnDiv {
   background-color: antiquewhite;
   width: 100%;
   height: calc(100vh - 77px);
   overflow: hidden;
}

.centered-banner {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   height: 400px;
   border: burlywood solid 2.5px;
}

.small-square-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.music-player {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin: 8rem auto 0;
   background-repeat: no-repeat;
}

.text-styling {
   font-size: 35px;
   font-weight: bold;
   color: black;
   margin: 25px 0 20px 0;
   text-align: center;
}

.centeredText {
   display: flex;
   justify-content: center;
   margin-top: 25px;
   margin-bottom: 0px;
}
